@import './_variables';
@import './_mixins';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: $dark-blue;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Arial, sans-serif;
}